<form class="login"
      [formGroup]="form"
      (ngSubmit)="onSubmit()">

  <div class="login-content">

    <div class="main_div">

      <mat-form-field class="stnd-max-width" appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput
               type="email"
               [formControl]="email"
               placeholder="Email"
               required>
        <mat-error *ngIf="email.hasError('required')">
          Поле <strong>email</strong> не может быть пустым
        </mat-error>
      </mat-form-field>


      <mat-form-field class="stnd-max-width" appearance="fill">
        <mat-label>Пароль</mat-label>
        <input matInput
               type="password"
               [formControl]="password"
               placeholder="Пароль"
               required>
        <mat-error *ngIf="password.hasError('required')">
          Поле <strong>пароль</strong> не может быть пустым
        </mat-error>
      </mat-form-field>
    </div>
  </div>

  <div class="input_box button">
    <button mat-flat-button color="primary" type="submit" (click)="onSubmit()">Войти</button>
  </div>

  <!--В дальнейшем реализовать, когда будет регистрация-->
<!--  <div style="padding-top: 5px">
    Забыли пароль? <a routerLink="#">Напомнить</a>
  </div>-->
  <div class="codeMind">
    Сделано командой CodeMind
  </div>


</form>
